* {
    padding: 0;
    margin: 0;
}

table, td {
    border: 1px solid
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: rgba(0,0,0,1);
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* bowlby-one-sc-regular - latin */
@font-face {
    font-family: 'Bowlby One SC';
    font-style: normal;
    font-weight: 400;
    src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'),
         url('../fonts/bowlby-one-sc-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/bowlby-one-sc-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'),
         url('../fonts/oswald-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.grid-item {
    /* background-color: rgba(255,255,255,0.2); */
    /* K red: rgba(233,0,41,1)
    K gray: rgba(82,79,86,1)
    k midgray: rgba(164,161,169,1)
    K Purple: rgba(41,27,68,1)
    k yellow: rgba(255,166,35)
    k orange: rgba(231,108,39,1)   */
    background-image: linear-gradient( rgb(36, 35, 36), black);
    border: 1px solid rgba(255,255,255,0.0);
    color: rgba(255,255,255,.8);
    padding: 1px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: left;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.image {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1 / 3;
}

.image img {
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

#brand {
    grid-column: 2/7;
    grid-row: 2 / 3;
    font-size: 30px;
    color: rgba(255, 0, 47, 0.6);
}

#name {
    grid-column: 2 / 7;
    grid-row: 1 / 2;
    font-family: 'Bowlby One SC', cursive;
    font-size: 36px;
    
    
}

#abv {
    grid-column: 7;
    grid-row: 2;
    color: rgba(255, 0, 47, 0.6);
}

#ibu {
    grid-column: 8;
    grid-row: 2;
    color: rgba(255, 0, 47, 0.6);
}

#type {
    grid-column: 7 / 9;
    grid-row: 1;
    font-size: 30px;
}

#quantity {
    grid-column: 9;
    grid-row: 2;
    color: rgba(255, 0, 47, 0.6);
}
